@media (max-width: 700px) {
    section {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    section.arguments {
        padding: 80px 0 !important;
    }

    section.arguments article {
        max-width: none !important;
        width: 100%;
    }

    section {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    section.newPrice {
        padding: 80px 0 !important;
    }

    section.newPrice article {
        max-width: none !important;
        width: 100%;
    }
}